* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --drkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --vrydrkBlue: hsl(212, 21%, 14%);
    --drkgryBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fntFraunce: 'Fraunces', serif;
    --fntMont: 'Montserrat', sans-serif;
}

html {
    font-size: 14px;
    font-family: var(--fntMont);
}

body {
    background-color: var(--cream);
    padding: 30% 1.5rem;
    height: auto;
}

main {
    background-color: var(--white);
    border-radius: 10px;
}

.img {
    width: 100%;
    padding: 10rem;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(/images/image-product-mobile.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding {
    padding: 2rem;
}

.padding h2 {
    color: var(--drkgryBlue);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 5px;
}

.padding h1 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--fntFraunce);
    line-height: 0.9em;
    padding: 1rem 0;
}

#text {
    color: var(--drkgryBlue);
    font-size: 1.2rem;
    line-height: 1.4em;
    padding-bottom: 1rem;
    font-family: var(--fntMont);
}

#green {
    color: var(--drkCyan);
    font-size: 2.5rem;
    font-family: var(--fntFraunce);
    font-weight: 700;
}

#green span {
    color: var(--drkgryBlue);
    font-size: 1.5rem;
    font-family: var(--fntMont);
    font-weight: 500;
    display: inline-block;
    margin-left: 1rem;
}

button {
    display: inline-block;
    background-color: var(--drkCyan);
    color: var(--white);
    font-family: var(--fntMont);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1rem;
    cursor: pointer;
}

button i {
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0;
}

button:hover {
    background-color: hsl(158, 36%, 27%);
}